{% assign parent = include.parent | default: page %}
{% assign widths = include.widths | default: "col-xxs-12 col-m-12" %}

{% for subpage in include.content %}
  {% if subpage.url != parent.url
        and subpage.path contains '.md'
        and subpage.site-search != false %}

    {% assign levels = subpage.url | remove_first: parent.dir | split: '/' %}

    {% assign summary = subpage.lead | default: "" %}
    {% if include.shorterdescrips %}
      {% assign summary = subpage.shorter_lead | default: summary %}
    {% endif %}

    {% if levels.size <= include.levels %}

      {% include components/card.html
        headingLevel='h2'
        url=subpage.url
        title=subpage.title
        summary=summary
        widths=widths
      %}

    {% endif %}
  {% endif %}
{% endfor %}
