<div class="ct-basic-content ct-theme-light {{page.style}}">
  <div class="container">
    <div class="row">
      <div class="col-l-8">
        <h1 class="ct-heading ct-theme-light ct-banner__title">
          Find advice and resources for your agency’s digital proposals and
          projects
        </h1>
        <p>
          The Australian Government Architecture (AGA) is a collection of
          policies, advice and reusable resources for agencies' digital and ICT
          solutions.
        </p>

        <form action="{{site.baseurl}}/search/" method="get" class="ct-form">
          <input
            type="search"
            autocomplete="off"
            class="ct-textfield ct-theme-light ct-field__control"
            name="query"
            id="home-search-bar"
            placeholder="Search for a topic, technology or requirement" autofill=none
          />
        </form>

      </div>
    </div>
  </div>
</div>
