<div class="ct-basic-content ct-theme-light">
  <div class="container">
    <div class="row">
      <div class="col-l-8">
        <h1 class="ct-heading ct-theme-light ct-banner__title">
          Find advice and resources for your agency’s digital proposals and
          projects
        </h1>
        <p>
          The Australian Government Architecture (AGA) is a collection of
          policies, advice and reusable resources for agencies' digital and ICT
          solutions.
        </p>
        <input
          type="text"
          class="ct-textfield ct-theme-light ct-field__control"
          name="option_group_309"
          id="field_id_716"
          placeholder="Search for a topic, technology or requirement"
        />
      </div>
    </div>
  </div>
</div>
