---
layout: main
---

        <main   class="ct-layout ct-layout--no-top-right ct-layout--no-bottom-right ct-vertical-spacing--top" role="main">
          <!--  CONTENT_TOP  -->
          {% if page.content_top %}  <div>{{ content_top }}</div> {% endif %} 
          <div class="ct-layout__inner container" data-masonry="true">
            <section class="ct-layout__main">
              <h1> {{page.title}}</h1>
              <p class="ct-text-large"> {{page.lead}}</p>

              <div class="container">
                <div class="row">
                  <div class="col-xxs-12">
                    <div
                      class="ct-table-of-contents ct-theme-light ct-table-of-contents--position-before"
                    >
                      <h2 class="ct-table-of-contents__title">On this page</h2>
                      <ul class="ct-table-of-contents__links">
                        <li class="ct-table-of-contents__link-item">
                          <a class="ct-table-of-contents__link" href="/">Understand your obligations within the investment process</a>
                        </li>
                        <li class="ct-table-of-contents__link-item">
                          <a class="ct-table-of-contents__link" href="/">Understand the mandatory policies that apply to your project</a>
                        </li>
                        <li class="ct-table-of-contents__link-item">
                          <a class="ct-table-of-contents__link" href="/">Find guidance to support your proposal</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="ct-basic-content ct-theme-light">
                <div class="container">
                  <div class="row">
                    <div class="col-xxs-12">
                      {{ content }}
                    </div>
                  </div>
                </div>
              </div>
              
              
            </section>

            <aside class="ct-layout__sidebar_top_left">
              {{ SIDEBAR_TOP_LEFT }}
            </aside>

<!--             <aside class="ct-layout__sidebar_top_right">
              {{ SIDEBAR_TOP_RIGHT }}
            </aside>
 -->
            <aside class="ct-layout__sidebar_bottom_left">
              {{ SIDEBAR_BOTTOM_LEFT }}
            </aside>

<!--             <aside class="ct-layout__sidebar_bottom_right">
              {{ SIDEBAR_BOTTOM_RIGHT }}
            </aside> -->
          </div>

          <!-- <div >{{ content_bottom }}</div> -->

        </main>
