---
layout: main
---

        <main   class="ct-layout ct-layout--no-top-left ct-layout--no-top-right ct-layout--no-bottom-left ct-layout--no-bottom-right" role="main">
          <!--  CONTENT_TOP  -->
          {% if page.content_top %}  <div>{{ content_top }}</div> {% endif %} 
          <div class="ct-layout__inner container" data-masonry="true">
            <section class="ct-layout__main">
          
              <!-- <div class="ct-theme-light ct-vertical-spacing--top ct-basic-content">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-offset-1 col-xl-10 col-xxs-12">
                       <h1> {{page.title}}</h1>
                      <p class="ct-text-large"> {{page.lead}}</p>

                    </div>
                  </div>
                </div>
              </div> -->
              <div class="ct-theme-light ct-vertical-spacing--both ct-basic-content">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-offset-1 col-xl-10 col-xxs-12">
                      {{ content }}

                    </div>
                  </div>
                </div>
              </div>
              
              
            </section>
          </div>
        </main>