---
layout: main
---
<style>
@media (min-width: 992px) {
    .search-banner .ct-inline-filter__items {
        align-items: flex-start;
      }
    }
#spinner {
    display: none;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: relative;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid var(--ct-color-light-interaction-background);
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

</style>

<main class="ct-layout ct-layout--no-top-left ct-layout--no-top-right ct-layout--no-bottom-left ct-layout--no-bottom-right" role="main">
  {% if page.content_top %}
    <div>{{ content_top }}</div>
  {% endif %}

  <div class="ct-layout__inner container" data-masonry="true">
    <section class="ct-layout__main">
      <div class="ct-theme-light ct-vertical-spacing--both ct-basic-content">
        <div class="container">
          <div class="row">
            <div class="col-xl-offset-1 col-xl-10 col-xxs-12">

              <div id="spinner" class="loader ct-vertical-spacing--both "></div>

              <div class="ct-list ct-theme-light" id="search_results" style="display:none;">
                <div class="ct-list__inner">

                  <div class="ct-list__header">
                    <div class="container">
                      <div class="row">
                        <div class="col-xxs-12 col-m-9">
                          <h2 class="ct-heading ct-theme-light ct-list__title">Results</h2>
                        </div>
                        <div class="col-xxs-12 col-m-3">
                          <div class="ct-list__link-above ct-flex-justify-content-center">
                            <span class="ct-list__results-count" id="number_results"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="ct-list__rows">
                    <div class="container" aria-live="polite">
                      <div class="row row--vertically-spaced" id="resultslist"></div>
                    </div>
                  </div>

                </div>
              </div>

              {{ content }}

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
