---
layout: resource
style: 'ct-vertical-spacing--bottom ct-basic-content'

title: 'Visa Entitlement and Verification (VEVO)'
description: 'The Visa Entitlement Verification Online (VEVO) system allows visa holders, employers, education providers and other organisations to check visa details and conditions for current in-effect visas.'
url: '/resource/visa-entitlement-and-verification'
aga_code: 'DES123'
type: 'Design'
category: 'System'
---


## Details

The Visa Entitlement Verification Online (VEVO) system allows visa holders, employers, education providers and other organisations to check visa details and conditions for current in-effect visas.



**AGA Code:** DES123



**Type:** Design



**Category:** System


